.logOut{
    /* flex: 1; */
    margin: 0 25px;
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 900;
    border: none;
    border-radius: 8px;
    padding: 3.6px;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    cursor: pointer;
    text-align: right;
}

.top{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -20px;
    margin-left: -20px;
    background-image: url(https://media.timeout.com/images/105837339/1372/772/image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 70rem;
    height: 25rem;
    color: white;
    
}

.home-page{
    border: 1px solid transparent;
    margin: -20px;
    width: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-page input[type=text]{
    float:left;
    padding:6px;
    border: 1px solid black;
    margin-top: 18px;
    margin-right: 18px;
    margin-left: 18px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px; 

}

.home-page{
    display: flex;
    justify-content: center;
}
.searchBar{
    display: flex;
    align-self: center;
}
.homePage{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.searchBar button{
    margin-top: 18px;
    border: 1px solid black;
}
