.navbar {
    background: rgba(255, 255, 255, .46);
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px #0000001a;
    width: 75em;
    height: 4em;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px; 
  }
  
  .navbar-right a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  .navbar-right a:hover {
    color: #124274;
    text-decoration: underline;
  }

  .title-font {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #F6F8F9;
    font-size: 1.6em;
  }
