ul{
    list-style-type: none;
}

.banner{
    /*
    background-color: rgb(183, 223, 180);*/
    border: 1px solid black;
    

}

.header {
    display: flex;
    justify-content: space-evenly;
    
}

.header li {
    border: 1px solid black;
    border-radius: 6%;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.content{
    margin-top: 50px;
    padding: 120px;
    border: 1px solid black;

}

.desc{
    text-align: center;
}

.start{
    border: 1px solid black;
    margin-top: 50px;
    padding: 20px;

}